<div class="container">

    <div class="row">
        <a class="button" href="/">{{__ 'back'}}</a>
        <a class="button u-pull-right" href="/main/friends/new-request">{{__ 'newRequest'}}</a>
    </div>

    <div class="align-center">
        <h3>{{__ 'friends'}}</h3>
    </div>

    {{#if inqFriendReqs}}
        <div class="row">
            <h4 class="align-center">{{__ 'incFriendReqs'}} </h4>
        </div>


        <div class="row overflow-auto">
            <table class="">
                <thead>
                    <tr>
                        <th class="align-center">{{__ 'dateSent'}}</th>
                        <th class="align-center">{{__ 'sender'}}</th>
                        <th class="align-center">{{__ 'text'}}</th>
                        <th class="align-center" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inqFriendReqs}}
                        <tr>
                            <td class="align-center">{{date}}</td>
                            <td class="align-center">{{username}}</td>
                            <td>{{text}}</td>
                            <td class="align-center"><button>Αποδοχή</button></td>
                            <td class="align-center"><button>Απόρριψη</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if friends}}
        <div class="overflow-auto">
            <table class="">
                <thead>
                    <tr>
                        <th class="align-center">{{__ 'username'}}</th>
                        <th class="align-center">{{__ 'completedGames'}}</th>
                        <th class="align-center">{{__ 'lastCompletedGame'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each friends}}
                        <tr>
                            <td class="align-center">{{username}}</td>
                            <td class="align-center">{{completedGames}}</td>
                            <td class="align-center">{{lastCompleted}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

</div>
