<div class="container">

    <div class="row">
        <div class="twelve columns">
            <a class="button" href="/main">{{__ 'back'}}</a>
            {{#if isPlayer1}}
                <a class="button u-pull-right" href="/">{{__ 'complete'}}</a>
            {{/if}}
        </div>
    </div>

    <input type="text" class="pos-abs-hidden" id="input" name="input" autocomplete="off" value="">

    <div class="row">
        <div class="twelve columns overflow-auto nowrap">
            <span id="info-p1">&nbsp;</span> - <span id="info-p2">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns overflow-auto nowrap" id="def-single">&nbsp;</div>
    </div>

    <div class="row border-dotted spacing-special">
        <canvas id="canvas">
          Canvas element is not supported!
        </canvas>
    </div>

    <div id="defs" class="row border-dotted overflow-auto">
        <h5 class="border-btm align-center">
          <b>{{__ 'across'}}</b>
        </h5>
        <div id="defs-across"> </div>
        <h5 class="border-btm align-center">
          <b>{{__ 'down'}}</b>
        </h5>
        <div id="defs-down"> </div>
    </div>


    <div id="data" class="hidden">{{data}}</div>
    <script src="/javascripts/classList-polyfill.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/game-session.js"></script>

</div>
