<div class="container">

    <a class="button" href="/">{{__ 'back'}}</a>

    <h3>{{__ 'gameStatistics'}}</h3>

    <div class="game-statistics">
        <p>{{__ 'difficultyLevel'}}:</p>
        <p>{{diff}}</p>
        <p>{{__ 'whitesC'}}:</p>
        <p>{{whitesC}}</p>
        <p>{{__ 'lettersYouFound'}}:</p>
        <p>{{thisLetters}}</p>
        {{#if otherUsername}}
            <p>{{__ 'lettersOtherFound'}} &lt;{{otherUsername}}&gt;:</p>
            <p>{{otherLetters}}</p>
        {{/if}}
    </div>

</div>
