<div class="container">

    <div class="row">
        <div class="one-half column">
            <a class="button" href="/main">{{__ 'back'}}</a>
        </div>
    </div>



    {{#if resume}}

        <div class="row align-center">
            <div class="twelve columns">
                <h3>{{__ 'resumeGameHeader'}}</h3>
            </div>
        </div>

        {{#if errors}}
            <div class="row text-danger">
                <div class="twelve columns">
                    <ul>
                        {{#each errors}}
                            <li>{{msg}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/if}}


        {{#if games}}
            <div class="row overflow-auto">
                <div class="twelve columns">
                    <table class="">
                        <thead>
                            <tr>
                                <th class="align-center">{{__ 'dateCreated'}}</th>
                                <th class="align-center">{{__ 'partner'}}</th>
                                <th class="align-center">{{__ 'moderator'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each games}}
                                <tr>
                                    <td class="align-center">{{dateCreated}}</td>
                                    <td class="align-center">
                                        {{#if partner}}{{partner}}{{else}}-{{/if}}
                                    </td>
                                    <td class="align-center">
                                        {{#if isAdmin}}{{../__ 'yes'}}{{else}}{{../__ 'no'}}{{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><a class="button button-primary" href= {{url}}>{{../__ 'select'}}</a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}

    {{else}}

        <div class="row align-center">
            <div class="twelve columns">
                <h3>{{__ 'newGameHeader'}}</h3>
            </div>
        </div>

        {{#if errors}}
            <div class="row text-danger">
                <div class="twelve columns">
                    <ul>
                        {{#each errors}}
                            <li>{{msg}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/if}}


        <form action="/main/new-game" method="post">
            <fieldset>
                <legend>{{__ 'difficultyLevel'}}:</legend>
                <div class="row">
                    <div class="one-third column">
                        <label for="difficulty-easy">
                    <input type="radio" name="difficulty" id="difficulty-easy" value="easy" checked>
                    <span class="label-body">{{__ 'easy'}}</span>
                    </label>
                    </div>
                    <div class="one-third column">
                        <label for="difficulty-medium">
                  <input type="radio" name="difficulty" id="difficulty-medium" value="medium">
                  <span class="label-body">{{__ 'medium'}}</span>
                  </label>
                    </div>
                    <div class="one-third column">
                        <label for="difficulty-hard">
                  <input type="radio" name="difficulty" id="difficulty-hard" value="hard">
                  <span class="label-body">{{__ 'hard'}}</span>
                  </label>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="twelve columns">
                    <label for="partner" class="select">{{__ 'partner'}}:</label>
                    <select name="partner" id="partner" data-mini="true" data-inline="true">
                    <option value="">&lt; {{__ 'noone'}} &gt;</option>
                  {{#each friends}}
    <option>{{username}}</option>
                  {{/each}}
                  </select>
                </div>
            </div>

            <input class="button-primary" type="submit" value="{{__ 'submitButton'}}">

        </form>

    {{/if}}

</div>
