<div class="container">

    <div class="row" id="buttons">
        <a id="messages-button" class="button hidden">{{__ 'messages'}}</a>
        <a id="crossword-button" class="button hidden">{{__ 'crossword'}}</a>
        <a id="home-button" class="hidden" href="/main">{{__ 'home'}}</a>
        <a id="complete-button" class="hidden">{{__ 'complete'}}</a>
        <div class="u-pull-right">
            <a id="options-button" class="button">{{__ 'options'}}</a>
            <div class="dropdown-content hidden" id="dropdown-list">
                <a id="help-button">{{__ 'help'}}</a>
            </div>
        </div>
    </div>

    <input type="text" class="pos-abs-hidden" id="letters-input" name="letters-input" autocomplete="off" value="">

    <div class="overflow-auto nowrap" id="info">&nbsp;</div>

    <div class="overflow-auto nowrap" id="def-single">&nbsp;</div>

    <div id="messages" class="hidden game-messages">
        <ul id="messages-list" class="border-dotted overflow-auto"></ul>
        <form id="messages-form">
            <label for="messages-input">{{__ 'text'}}:</label>
            <input type="text" name="messages-input" id="messages-input">
        </form>
    </div>

    <div id="help" class="hidden game-dialog">
        {{{__ 'helpText'}}}
    </div>

    <div id="complete" class="hidden game-dialog">
        <h4>{{__ 'complete'}}</h4>
        <p>{{__ 'completeText'}}</p>
        <button type="button" id="complete-confirm-button" name="complete-confirm-button" class="button-primary">{{__ 'ok'}}</button>
    </div>

    <div id="game-completed" class="hidden game-dialog">
        <p>{{__ 'gameCompleted'}}</p>
    </div>

    <div class="border-dotted spacing-special overflow-auto" id="canvas-container">
        <canvas id="canvas">
          Canvas element is not supported!
        </canvas>
    </div>

    <div id="defs" class="border-dotted">

        <div class="row">

            <div class="six columns">
                <h5><b>{{__ 'across'}}</b></h5>
                <div id="defs-across"> </div>
            </div>

            <div class="six columns">
                <h5><b>{{__ 'down'}}</b></h5>
                <div id="defs-down"> </div>
            </div>

        </div>

    </div>

    <script src="/javascripts/game-session.js"></script>

</div>
