<div class="container">

    <a class="button" href="/">{{__ 'back'}}</a>

    <h3>{{__ 'history'}}</h3>

    {{#if completedGames}}

        <h4 class="">{{__ 'statistics'}}</h4>

        <div class="overflow-auto history">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{{__ 'easy'}}</th>
                        <th>{{__ 'medium'}}</th>
                        <th>{{__ 'hard'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{__ 'highestRating'}}</td>
                        {{#each stats.highestRating}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                    <tr>
                        <td>{{__ 'avgRating'}}</td>
                        {{#each stats.avgRating}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>{{__ 'completedGames'}}</h4>

        <div class="overflow-auto">
            <table>
                <thead>
                    <tr>
                        <th>{{__ 'dateCompleted'}}</th>
                        <th>{{__ 'difficulty'}}</th>
                        <th>{{__ 'rating'}}</th>
                        <th>{{__ 'partner'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each completedGames}}
                        <tr>
                            <td>{{date}}</td>
                            <td>{{diff}}</td>
                            <td>{{rating}}</td>
                            <td>{{otherUsername}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

</div>
