<div class="container">

    <a class="button" href="/">{{__ 'back'}}</a>

    <h3>{{__ 'login'}}</h3>

    {{#if error}}
        <p class="text-danger">{{error}}</p>
    {{/if}}

    <form id="loginForm" action="/login" method="post">

        <div class="row">

            <div class="one-half column">
                <label for="username">{{__ 'username'}}:</label>
                <input type="text" id="username" name="username" required/>
            </div>

            <div class="one-half column">
                <label for="pwd">{{__ 'password'}}:</label>
                <input type="password" id="pwd" name="pwd" required/>
            </div>

        </div>

        <input class="button-primary" type="submit" value="{{__ 'submit'}}">

    </form>

</div>
