<div class="container">

    <div class="row">
        <div class="one-half column">
            <a class="button" href="/">{{__ 'back'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h3>{{__ 'loginHeader'}}</h3>
        </div>
    </div>

    {{#if errors}}
        <div class="row text-danger">
            <div class="twelve columns">
                <ul>
                    {{#each errors}}
                        <li>{{msg}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <!-- <div class="row text-danger">
        <div id="errors" class="twelve columns">

        </div>
    </div> -->


    <form id="loginForm" action="/login" method="post">

        <div class="row">

            <div class="one-half column">
                <label for="username">{{__ 'username'}}</label>
                <input type="text" id="username" name="username" required/>
            </div>

            <div class="one-half column">
                <label for="pwd">{{__ 'password'}}</label>
                <input type="password" id="pwd" name="pwd" required/>
            </div>
        </div>

        <input class="button-primary" type="submit" value="{{__ 'submitButton'}}">

    </form>

    <!-- <script src="/javascripts/login.js"></script> -->

</div>
