<div class="container">

    <div class="row">
        <div class="twelve columns">
            <a class="button" href="/logout">{{__ 'logout'}}</a>
            <a class="button u-pull-right" href="/main/user-settings">{{__ 'settings'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <h6>{{__ 'user'}}: {{username}}</h6>
        </div>
    </div>

    <div class="bg">

        <div class="row align-center">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/new-game">{{__ 'newGame'}}</a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/resume-game">{{__ 'resumeGame'}}</a>
            </div>
        </div>

        <div class="row align-center">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/history">{{__ 'history'}}</a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/friends">{{__ 'friends'}}</a>
            </div>
        </div>

        {{#if isAdmin}}
            <div class="row align-center">
                <div class="one-half column">
                    <a class="button button-bold u-full-width" href="/main/upload-crossword">{{__ 'uploadCrossword'}}</a>
                </div>
            </div>
        {{/if}}

    </div>

</div>

{{> footer}}

</div>
