<div class="container">

    <div class="row">
        <div class="one-half column column-special">
            <a class="button" href="/logout">{{__ 'logout'}}</a>
        </div>
        <div class="one-half column column-special align-right">
            <a class="button" href="/main/user-settings">{{__ 'settings'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <h6>{{__ 'user'}}: {{username}}</h6>
        </div>
    </div>

    <div class="bg">

        <div class="row align-center">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/new-game">{{__ 'newGame'}}</a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/resume-game">{{__ 'resumeGame'}}</a>
            </div>
        </div>

        <div class="row align-center">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/history">{{__ 'history'}}</a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/friends">{{__ 'friends'}}</a>
            </div>
        </div>

        {{#if isAdmin}}
            <div class="row align-center">
                <div class="one-half column">
                    <a class="button button-bold u-full-width" href="/main/upload-crossword">{{__ 'uploadCrossword'}}</a>
                </div>
            </div>
        {{/if}}

    </div>
    <!-- <p>{{__ 'hello'}} {{user}}!</p> -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

    <!-- <p>You have 1 incoming friend request</p> -->

</div>

{{> footer}}

</div>
