<div class="container">

    <div class="row">
        <a class="button" href="/logout">{{__ 'logout'}}</a>
        <a class="button u-pull-right" href="/main/settings">{{__ 'settings'}}</a>
    </div>

    <h2>{{title}}</h2>

    <h6>{{__ 'hello'}} {{username}}!</h6>

    <div class="bg">

        <div class="row">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/new-game">
                  {{__ 'newGame'}}
                </a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/resume-game">
                  {{__ 'resumeGame'}}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/history">
                  {{__ 'history'}}
                </a>
            </div>
            <div class="one-half column">
                <a class="button button-bold u-full-width" href="/main/friends">
                  {{__ 'friends'}} {{#if incRequests}}({{incRequests}}){{/if}}
                </a>
            </div>
        </div>

        {{#if isAdmin}}
            <div class="row">
                <div class="one-half column">
                    <a class="button button-bold u-full-width" href="/main/upload-crossword">
                      {{__ 'uploadCrossword'}}
                    </a>
                </div>
            </div>
        {{/if}}

    </div>

    {{> footer}}

</div>
