<div class="container">

    <div class="row">
        <div class="one-half column">
            <a class="button" href="/">{{__ 'back'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h3>{{__ 'newGameHeader'}}</h3>
        </div>
    </div>

    <form action="/new-game" method="post">
        <fieldset>
            <legend>{{__ 'difficulty'}}</legend>
            <div class="row">
                <div class="one-third column">
                    <label for="radio-difficulty-easy">
                    <input type="radio" name="radio-difficulty" id="radio-difficulty-easy" value="easy" checked>
                    <span class="label-body">{{__ 'easy'}}</span>
                    </label>
                </div>
                <div class="one-third column">
                  <label for="radio-difficulty-medium">
                  <input type="radio" name="radio-difficulty" id="radio-difficulty-medium" value="medium">
                  <span class="label-body">{{__ 'medium'}}</span>
                  </label>
                </div>
                <div class="one-third column">
                  <label for="radio-difficulty-hard">
                  <input type="radio" name="radio-difficulty" id="radio-difficulty-hard" value="hard">
                  <span class="label-body">{{__ 'hard'}}</span>
                  </label>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="twelve columns">
                <label for="select-choice-1" class="select">{{__ 'partner'}}</label>
                <select name="select-choice-1" id="select-choice-1" data-mini="true" data-inline="true">
                    <option value="none">&lt; {{__ 'noone'}} &gt;</option>
                  {{#each friends}}
    <option value="standard">{{username}}</option>
                  {{/each}}
                  </select>
            </div>
        </div>

        <input class="button-primary" type="submit" value="{{__ 'submitButton'}}">

    </form>

</div>
