<div class="container">

    <a class="button" href="/">{{__ 'back'}}</a>

    <h3>{{__ 'userSettings'}}</h3>

    {{#if errors}}
        <div class="row text-danger">
            <div class="twelve columns">
                <ul>
                    {{#each errors}}
                        <li>{{msg}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <form action="/main/settings" method="post">
        <div class="row">
            <div class="twelve-columns">
                <label for="language" class="select">{{__ 'language'}}:</label>
                <select name="language" data-mini="true" data-inline="true">
                  {{#if userLocale}}
                  <option value={{userLocale.value}}>{{userLocale.text}}</option>
                  {{else}}
                  <option value="">&mdash;</option>
                  {{/if}}
              {{#each locales}}
<option value={{this.value}}>{{this.text}}</option>
              {{/each}}
              </select>
            </div>
        </div>

        <h5>{{__ 'changePassword'}}</h5>

        <div class="row">
            <div class="one-half column">
                <label for="pwd">{{__ 'password'}}:</label>
                <input type="password" id="pwd" name="pwd"/>
            </div>
            <div class="one-half column">
                <label for="pwd-confirm">{{__ 'passwordConfirm'}}:</label>
                <input type="password" id="pwd-confirm" name="pwd-confirm"/>
            </div>
        </div>

        <input class="button-primary" type="submit" value="{{__ 'submit'}}">

    </form>

</div>
