<div class="container">

    <div class="row">
        <div class="one-half column">
            <a class="button" href="/main/">{{__ 'back'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h3>{{__ 'uploadCrosswordHeader'}}</h3>
        </div>
    </div>

    {{#if errors}}
        <div class="row text-danger">
            <div class="twelve columns">
                <ul>
                    {{#each errors}}
                        <li>{{msg}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    {{#if success}}
        <div class="row text-success">
            <div class="twelve columns">
                <ul>
                    {{#each success}}
                        <li>{{msg}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <form action="/main/upload-crossword" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="twelve columns">
                <label for="file-to-upload">{{__ 'fileToUpload'}}</label>
                <input type="file" name="file-to-upload" id="file-to-upload" required>
            </div>
        </div>

        <input class="button-primary" type="submit" value="{{__ 'submitButton'}}">

    </form>

    {{#if success}}
        <div class="row">
            {{#each matrix}}
                <div class="twelve columns">
                    <code>{{this}}</code>
                </div>
            {{/each}}
        </div>

        <div class="row">
            <div class="twelve columns">
                <h5 class="border-btm align-center"><b>{{__ 'across'}}</b></h5>
                <ol>
                    {{#each defs.across}}
                        <li>{{this}}</li>
                    {{/each}}
                </ol>
                <h5 class="border-btm align-center"><b>{{__ 'down'}}</b></h5>
                <ol>
                    {{#each defs.down}}
                        <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        </div>

    {{/if}}

</div>
